{
  "plugins": ["prettier-plugin-go-template"],
  "bracketSameLine": true,
  "trailingComma": "es5",
  "jsxSingleQuote": true,
  "printWidth": 120,
  "semi": true,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}
